 #quote-box{
  background-color: #fff;
  width: 450px;
  display: flex;
  flex-direction: column;
} 

#quote{
  font-size:1.5em;
  width: 400px;
  align-self: center;
  padding: 10px;
}

#author{
  margin: 10px;
  align-self: flex-end;
  font-style: italic;
}

/* #new-quote{
  align-self: flex-end;
} */

.buttons{
  margin: 10px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.btn{
  width: 100px !important;
  height: 40px !important;
}

